*{
    margin:0;
    padding : 0;
}
body{
    font-size: 16px;
    font-family: 'icomoon';
}
li{
    list-style : none;
}
a{
    text-decoration:none;
}
input,button{
    border:0;
}
button{
    cursor: pointer;
    font-family: 'icomoon';
}
textarea{
    border:0;
    resize: none;
}
